<h3>Most Popular Comedians</h3>

<%= comedians_index_options %>

<div class="row">
	<div class="col-md-12">
			<% @comedians.in_groups_of(2) do |group| %>
				<div class="row">
					<% group.compact.each do |comedian| %>
						<%= render partial: 'comedian_box', locals: { comedian: comedian} %>
					<% end %>
				</div>
		<% end %>
	</div>
</div>