
<% if user_signed_in? && current_user.admin? %>
	<%= link_to 'Add comedian', new_comedian_path %>
<% end %>
<h1>Comedians Index</h1>
<ul>
<% @comedians.each do |comedian| %>
	<li><%= link_to comedian.name, comedian %></li>
<% end %>
</ul>
