---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=123%20Main%20Street,%20Los%20Angeles,%20CA,%2012345&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "123",
                       "short_name" : "123",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "South Main Street",
                       "short_name" : "S Main St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Downtown",
                       "short_name" : "Downtown",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "lo[...]
