---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=5900%20Wilshire%20Blvd,%20Los%20Angeles,%20CA,%2090036&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "5900",
                       "short_name" : "5900",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Wilshire Boulevard",
                       "short_name" : "Wilshire Blvd",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Mid-Wilshire",
                       "short_name" : "Mid-Wilshire",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
             [...]
