---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Beverly%20Hills,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Beverly Hills",
                       "short_name" : "Beverly Hills",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Los Angeles County",
                       "short_name" : "Los Angeles County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Beverly Hills, CA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 34.112432,
                          "lng" : -118.3720269
                       },
                       "southwest" : {
                          "lat" : 34.0526658,
                          "lng" : -118.4270409
                       }
                    },
                    "location" : {
                       "lat" : 34.0736204,
                       "lng" : -118.4003563
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 34.112432,
                          "lng" : -118.3720269
                       },
                       "southwest" : {
                          "lat" : 34.0526658,
                          "lng" : -118.4270409
                       }
                    }
                 },
                 "place_id" : "ChIJq0fR1gS8woAR0R4I_XnDx9Y",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 14 Nov 2015 06:23:06 GMT
[...]
