---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Beverly%20Hills,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Beverly Hills",
                       "short_name" : "Beverly Hills",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Los Angeles County",
                       "short_name" : "Los Angeles County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Beverly Hills, CA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 34.112432,
                          "lng" : -118.3720269
                       },
                       "southwest" : {
                          "lat" : 34.0526658,
                          "lng" : -118.4270409
                       }
                    },
                    "location" : {
                       "lat" : 34.0736204,
                       "lng" : -118.4003563
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 34.112432,
                          "lng" : -118.3720269
                       },
                       "southwest" : {
                          "lat" : 34.0526658,
                          "lng" : -118.4270409
                       }
                    }
                 },
                 "place_id" : "ChIJq0fR1gS8woAR0R4I_XnDx9Y",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 18 Nov 2015 02:34:25 GMT
[...]
- request:
    method: get
    uri: http://freegeoip.net/json/76.219.223.26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Tue, 17 Nov 2015 02:28:46 GMT
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9996'
      X-Ratelimit-Reset:
      - '3049'
    body:
      encoding: UTF-8
      string: |
        {"ip":"76.219.223.26","country_code":"US","country_name":"United States","region_code":"CA","region_name":"California","city":"Los Angeles","zip_code":"90048","time_zone":"America/Los_Angeles","latitude":34.0708,"longitude":-118.3762,"metro_code":803}
  recorded_at: Wed, 18 Nov 2015 02:34:25 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=90048&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
            [...]
[...]
