---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/167.187.101.240
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Thu, 28 Apr 2016 11:04:28 GMT
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9999'
      X-Ratelimit-Reset:
      - '3600'
    body:
      encoding: UTF-8
      string: |
        {"ip":"167.187.101.240","country_code":"US","country_name":"United States","region_code":"CA","region_name":"California","city":"Beverly Hills","zip_code":"90210","time_zone":"America/Los_Angeles","latitude":34.0995,"longitude":-118.4143,"metro_code":803}
  recorded_at: Mon, 09 May 2016 16:13:59 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=90210&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "90210",
                       "short_name" : "90210",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Beverly Hills",
                       "short_name" : "Beverly Hills",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Los Angeles County",
                       "short_name" : "Los Angeles County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Beverly Hills, CA 90210, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 34.1354771,
                          "lng" : -118.3867129
                       },
                       "southwest" : {
                          "lat" : 34.065094,
                          "lng" : -118.4423781
                       }
                    },
                    "location" : {
                       "lat" : 34.1030032,
                       "lng" : -118.4104684
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 34.1354771,
                          "lng" : -118.3867129
                       },
                       "southwest" : {
                          "lat" : 34.065094,
                          "lng" : -118.4423781
                       }
                    }
                 },
                 "place_id" : "ChIJ7xfS-zW8woARXNkAJzX5Hs8",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 09 May 2016 16:13:59 GMT
recorded_with: VCR 3.0.0
