---
http_interactions:
- request:
    method: get
    uri: http://www.telize.com/geoip/76.219.223.26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"offset":"-7","longitude":-118.3762,"city":"Los Angeles","timezone":"America\/Los_Angeles","latitude":34.0708,"area_code":"0","region":"California","dma_code":"0","organization":"AS7018 AT&T Services, Inc.","country":"United States","ip":"76.219.223.26","country_code3":"USA","postal_code":"90048","continent_code":"NA","country_code":"US","region_code":"CA"}
  recorded_at: Wed, 11 Nov 2015 20:32:40 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=90048&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "90048",
                       "short_name" : "90048",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Los Angeles",
                       "short_name" : "LA",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Los Angeles County",
                       "short_name" : "Los Angeles County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Los Angeles, CA 90048, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 34.083811,
                          "lng" : -118.361375
                       },
                       "southwest" : {
                          "lat" : 34.05576,
                          "lng" : -118.3907139
                       }
                    },
                    "location" : {
                       "lat" : 34.0741548,
                       "lng" : -118.3724915
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 34.083811,
                          "lng" : -118.361375
                       },
                       "southwest" : {
                          "lat" : 34.05576,
                          "lng" : -118.3907139
                       }
                    }
                 },
                 "place_id" : "ChIJ1WgNtUu5woAR-sNTOQBvprc",
                 "postcode_localities" : [ "Los Angeles", "West Hollywood" ],
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 11 Nov 2015 20:32:40 GMT
recorded_with: VCR 3.0.0
