/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
body { padding-top: 50px; background: #EFEFEB; }

div.comedianBox {
	
	margin-bottom:10px;
	
}

.comedianPicture{
	float:left;
}

.box {
	  margin: 10px;
	  width: auto;
	  height: 260px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-height: 80%;
	  }
	  h2 {
	  	font-size: 20px;
	  	margin: 0;
	  	padding: 8px 10px;
	  	a {
				color: #5A5552;
	  	}
	  }
	  h3 {
	  	font-size: 18px;
	  	margin: 0;
	  	padding: 16px 10px;
	  	a {
				color: #5A5552;
	  	}
	  }
}